body{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(97,92,83,1) 100%);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    height:200px;
    width:200px;
    border:7px solid black;
    font-size:50px;
    border-radius: 50%;
}
.button {
    margin-top: 20px;
    display: flex;
    gap:20px
   
}
.button button {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(54, 65, 61);
    border: none;
    cursor: pointer;
    color:white;
    border-radius: 5px;
}
.main-box{
    display:block;
    font-size: 20px;
    font-weight: bold;
}
#lap{
    margin-right:70px;
   
    margin: auto;
    text-align: center;
}

